@import "tailwindcss";

@theme {
  --color-primary-500: oklch(0.55 0.22 250);
  --color-primary-600: #2563eb;

  --font-body: "Inter", "system-ui", "sans-serif";
  --breakpoint-3xl: 1920px;
}

@layer base {
  body {
    font-family: var(--font-body);
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}